doctype html
html
  include snippets/head

  body(data-page='conf' class=isDebug && 'is--debug')

    .drop-files-container
      .instructions déposez ici les slides à ajouter
    input(id="upload-input" type="file" name="uploads[]" multiple="multiple")

    a.btn.btn_retour(href="/")
      | ←
    a.btn.btn_openCloseCamera.js--openCloseCamera(href="#" title="Règlages media" )
      | !{settings.lang.openCamera}


    .module--stackIntro
      .titre
        h1 #{confMeta.confName}
      .meta
        span !{confMeta.date}
        span !{confMeta.lieu}
        span !{confMeta.auteur}
      .introduction
        | !{confMeta.introduction}

    .module-popover.module-popover_upload.js--popover_upload
      .instructions envoi de fichiers en cours
      .progress-bar

    .module-popover.module-popover_cameraFeed.js--popover_cameraFeed
      .cameraFeed
        video.js--videoFeed
      .feedSettings--scrollWindow.js--popover_cameraFeed_settingsPane
        a.btn.btn_openSettings.js--toggleCameraSettings
          | !{settings.lang.settings}
        form.sourceSelector
          .selectField.audioSource
            label(for="audioSource")
              | !{settings.lang.audioInputSource}
            select#audioSource.js--audioSource
          .selectField.audioOutput
            label(for="audioOutput")
              | !{settings.lang.audioOutputDestination}
            select#audioOutput.js--audioOutput
          .selectField.videoSource
            label(for="videoSource")
              | !{settings.lang.videoInputSource}
            select#videoSource.js--videoSource
        form.resolutionSelector.js--resolutionSelector
          | !{settings.lang.chooseCameraResolution}
          fieldset
            input(type="radio" name="videoRes" id="qvga" value="qvga" data-width="320" data-height="240")
            label(for="qvga")
              | 320×240
          fieldset
            input(type="radio" name="videoRes" id="vga" value="vga" data-width="640" data-height="480" checked)
            label(for="vga")
              | 640×480
          fieldset
            input(type="radio" name="videoRes" id="hd" value="hd" data-width="1280" data-height="720")
            label(for="hd")
              | 1280×720
          fieldset
            input(type="radio" name="videoRes" id="fhd" value="fhd" data-width="1920" data-height="1080")
            label(for="fhd")
              | 1920×1080



    .slides-list


    .js--templates
      .slide.js--fixedslide.js--imageSlide
        .slide--item.slide--item_image.js--interactevents
          img.shadowed
      .slide.js--fixedslide.js--videoSlide
        .slide--item.slide--item_video.js--interactevents
          video(controls).shadowed
            source()
      .slide.js--fixedslide.js--iframeSlide
        .slide--item.slide--item_iframe.js--interactevents.shadowed
          .slide--item--navbar
            .pageUrlField
              h6.pageUrl
            button.toggleIframe.js--startIframe on&nbsp;/&nbsp;off
            a.iframeNewTab.js--openInBrowser(target="_blank") ↗
          iframe



    include snippets/footer
    script( src='/js/pages/conf.js')
