-for(var prop in localNetworkInfos)
  p.txt-small_info
    | !{lang.toconnectwithanotherdevice}
    a.js--openInBrowser(href="https://#{localNetworkInfos[prop]}:8080" target="_blank")
      | https://#{localNetworkInfos[prop]}:8080

script
  | var locals = {};
  | locals.slugFolderName = "#{slugFolderName}";
  | locals.folderPath = "#{folderPath}";
  | locals.data = !{JSON.stringify(data, null, 4)};
  | locals.lang = !{JSON.stringify(lang, null, 4)};
script(src='/development/main.js')
